* {
  box-sizing: border-box;
  color: black
}

body {
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  margin: 0;
  font-family: 'Audiowide', cursive;
}

.MainContainer{
 background-color: black;
}