* {
  box-sizing: border-box;
}

.Login {
  display: flex;
  height: 100vh;
  background-color: #121212;
  justify-content: center;
  align-items: center;
}

h1{
  color: #F1EC40;
}
.LoginForm {
  display: flex;
  flex-direction: column;
  font-family: 'Audiowide', cursive;
  color: #f1ec40;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0em;
  font-weight: normal;
}

p {
  margin-top: 0;
  font-family: 'Oswald', sans-serif;
  color: #CCCCCC;
  font-weight: 100;
}

.Logo {
  width: 7em;
}

input {
  width: 15em;
  border: solid 2px #f1ec40;
  color: #CCCCCC;
  border-radius: 30em;
  height: 2.5em;
  padding-left: 1em;
  font-family: 'Audiowide', cursive;
  font-size: 1em;
  background-color: transparent;
  margin: .5em;
  user-select: none;
  outline-style: none;
}

.LoginBtn {
  width: 15em;
  border: 2px solid #f1ec40;
  background-color: transparent;
  font-family: 'Audiowide', cursive;
  font-size: 1em;
  color: #f1ec40;
  border-radius: 30em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5em;
  user-select: none;
  outline-style: none;
  cursor: pointer;
}